# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development.
/storage/*
!/storage/.keep

# Ignore assets.
/public/assets

# Ignore debug history.
/.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key
/config/credentials/production.key

# Ignore node modules.
/node_modules

# Ignore rspec runtime files.
/spec/examples.txt
